body {
  background: #000;
}
.bg-gold {
  background-color: gold;
}
.bg-dimgray {
  background-color: dimgray;
}
.text-gold {
  color: gold;
}
.border-1 {
  border-width: 1px;
}
.border-t-1 {
  border-top-width: 1px;
}
.border-l-1 {
  border-left-width: 1px;
}
.border-r-1 {
  border-right-width: 1px;
}
.border-b-1 {
  border-bottom-width: 1px;
}
.border-gold {
  border-color: gold;
}
.-z-1 {
  z-index: -1;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 8px;
}
.nav {
  transition: all 0.1s linear;
  /* position: fixed; */
  z-index: 2000;
  width: 100%;
}
.scrollNav {
  z-index: 2000;
  background: #000;
  position: fixed;
  width: 100%;
	animation-name: fadeDownOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .3s;
}

.sidebar-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* display: none; */
  background: black;
  opacity: 0;
  z-index: -1;
  transition: .5s all;
  display: none;
}
.sidebar-backdrop-active {
  z-index: 5;
  opacity: 0.4;
  transition: .5s all;
  display: block;
}
.sidebar {
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0px;
  bottom: 0;
  transform: translate(100%, 0%);
  width: 250px;
  background: #12141f;
  transition: .5s all;
}

.sidebar-active {
  right: 250px;
  transition: .5s all;
}

.hoverup {
  transition: .4s all;
}

.hoverup:hover {
  transition: .4s all;
  transform: translateY(-5px);
}

.platform-img {
  transition: .4s all;
}

.platform-img:hover {
  transition: .4s all;
  background: gold;
}

.timeline_inner {
  background-color: #070124;
  padding: 15px 0;
}

.timeline_inner_pointer {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #070124;
  border-style: solid;
  border-width: 0 8px 8px;
  content: "";
  height: 0;
  margin: 0 auto;
  width: 0;
}
.svg-shape--top--right {
  position: absolute!important;
  top: -2px;
  right: 0;
  bottom: auto;
  left: auto;
}
/* .svg-shape--top {
  position: absolute!important;
  top: -2px;
  right: auto;
  bottom: auto;
  left: 0;
}

.svg-shape {
  position: absolute!important;
  top: auto;
  right: 0;
  bottom: -2px;
  left: 0;
} */

.arrow-right-btn .arrow-right-icon {
  transition: .4s all;
}

.arrow-right-btn:hover .arrow-right-icon {
  transition: .4s all;
  transform: translateX(10px);
}

.launchpad-svg-back {

}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}

.fade-up {
	opacity: 1;
	animation-name: fadeUpOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}

.fade-down {
	opacity: 1;
	animation-name: fadeDownOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
    transform: translate(0%, 50%);
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeUpOpacity {
	0% {
		opacity: 0;
    transform: translate(0%, 50%);
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeDownOpacity {
	0% {
		opacity: 0;
    transform: translate(0%, -50%);
	}
	100% {
		opacity: 1;
	}
}